.Grid {
  border: 10px solid #FF4112;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 320px;
  background: url(http://res.cloudinary.com/dmuuruew8/image/upload/c_scale,h_610,w_320/v1479417679/St-Basil-s-Cathedral-and-Spassky-Tower-Red-Square_1600x1200_b3ob9s.jpg) no-repeat;
  background-position: 0px 125px;
}

.GridWrapper {
  position: relative;
  margin-left: 30px;
}

.logo {
  position: absolute;
  width: 320px;
  height: 130px;
  margin-left: 10px;
  margin-top: 10px;
}

.Row {
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
}

.Column {
  border: 0.1px dotted blue;
  width: 30px;
  height: 30px;
  font-size: 12px;
}

.Block {
  width: 30px;
  height: 30px;
}
